    <nav class="navbar  navbar-inverse">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="{{ path_for('home') }}">Slim Authentication</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="container">
          	<ul class="nav navbar-nav">
            	<li 
                class="nav-item active"
              >
                <a 
                  class="nav-link" 
                  href="{{ path_for('home') }}"
                >
                  Home
                </a>
              </li>
          	</ul>
          	<ul class="nav navbar-nav navbar-right">

              {% if auth.check %}

                <li class="dropdown">
                  <a 
                    href="#" 
                    class="dropdown-toggle" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false"
                  >
                    {{ auth.user.name }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="">Change Password</a>
                    </li>
                    <li>
                      <a href="{{ path_for('auth.signOut') }}">Sing out</a>
                    </li>
                  </ul>
                </li> 

              {% else %}

                <li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>
                <li><a href="{{ path_for('auth.signin') }}">Sign In</a></li>

              {% endif %}             
           	</ul>
        </div>
      </div>  
    </nav>